@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');

body {
    background: #000;

    text-align: center;

    font-family: "Cutive Mono";
    
    margin: 0;
}

::selection, ::-moz-selection { background: #fb06; }


#page-head {
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#page-head .title {
    color: #fff;

    display: inline-block;

    font-size: 1.3rem;
    font-weight: bold;

    padding-left: 1rem;
    padding-right: 1rem;

    border-bottom: thin solid #fff;
}

#page-head .title::after {
    content: ".";

    color: #fb0;
    
    font-size: 2rem;
    font-weight: bold;
}

#page-head .menu > * {
    color: #fb0;
    text-decoration: none;
}

#page-head .menu .selected {
    border-bottom: thin solid #fb0;
}


.page {
    background: #000;

    position: relative;

    background: #000;

    min-width: 33%;

    padding-top: 1.6rem;

    border: thin solid #fb0;

    margin: 0.6rem;
}

.page .body {
    color: #fff;

    font-size: 0.8rem;
    min-height: 0.8rem;
    max-height: 30rem;

    text-align: left;

    word-break: break-all;

    overflow-y: auto;

    padding: 0.6rem;

    margin-top: 0.2rem;
}

.page .body:focus, .page .body:focus-within, .page .body:active {
    border: none;
    outline: none;
}

.page.minimize .body {
    display: none;
}

.page .head {
    background: #fb0;
    color: #000;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: calc(100%);
    height: calc(1.6rem);
    
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.page .title {
    display: inline-block;

    font-size: 1rem;

    text-transform: uppercase;

    position: absolute;
    left: 1rem;
    top: -0.2rem;
}

.page .title::after {
    display: inline;

    content: ".";

    color: #fff;

    font-size: 1.6rem;
    font-weight: bold;
}

.page .title.nodot {
    text-align: center;

    margin-top: 0.5rem;
}

.page .title.nodot::after {
    content: "|";

    font-size: 1rem;
}


.page .buttons {
    float: right;

    margin: 0.3rem;
}

.page .buttons > * {
    display: inline-block;
    
    color: #000;

    width: 0.7rem;
    height: 0.7rem;

    font-weight: bold;
    font-size: 0.8rem;

    border: thin solid #000;

    margin-left: 0.5rem;

    transition: background 400ms ease;
}

.page .buttons > *:hover {
    background: #fec;
}


#notif {
    display: none;

    background: #000a;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 3rem;
}

#notif .page {
    outline: thin solid #fff;
}

#notif .page .body {
    background: none;

    width: calc(100% - 1.2rem);
    
    font-family: "Cutive Mono";

    border: none;
}


#new-page {
    display: inline-block;
    
    background: #fb0;
    color: #000;

    position: fixed;
    right: 0.7rem;
    bottom: 0.7rem;

    width: 0.7rem;
    height: 0.7rem;

    font-weight: bold;
    font-size: 0.8rem;

    border: thin solid #000;

    margin-left: 0.5rem;
    
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#theme {
    display: inline-block;
    
    background: #000;
    color: #fb0;

    position: fixed;
    right: 0.7rem;
    bottom: 1.75rem;

    width: 0.7rem;
    height: 0.7rem;

    font-weight: bold;
    font-size: 0.8rem;

    border: thin solid #fb0;

    margin-left: 0.5rem;
    
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}