@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');

body {
    text-align: center;
    font-family: "Cutive Mono";
    font-size: 9pt;

    margin: 0;
}

::selection, ::-moz-selection {
    background: #fb06;
}

#page-head {
    margin-top: 1vw;
    margin-bottom: 3vh;
    
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#page-head .title {
    border-bottom: 1px solid #000;
    display: inline-block;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 12pt;
    font-weight: bold;
}

#page-head .title::after {
    content: ".";
    font-weight: bold;
    color: #fb0;
    font-size: 17pt;
}

.page {
    border: 1px solid #000;
    margin: 1vw;

    min-width: 33%;
    
    position: relative;
    padding-top: calc(18pt - 0.4em);
    background: #fff;
}

#notif .page {
    outline: 1px solid #fff;
}

.page .title {
    display: inline-block;

    position: absolute;
    left: 1em;
    top: -0.25em;

    font-size: 7pt;
    
    text-transform: uppercase;
}

.page .head {
    background: #000;
    color: #fff;
    width: calc(100% + 1px);
    height: calc(14pt + 0.05em);
    
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.page .buttons {
    display: inline-block;
    margin: calc(9pt + 0.025em - 0.5em);

    float: right;
}

.title::after {
    content: ".";
    font-weight: bold;
    color: #fb0;
    font-size: 14pt;
    display: inline;
}

.title.nodot::after {
    content: "|";
    font-size: 7pt;
}

.title.nodot {
    margin-top: 5pt;
}

.page .head .buttons > * {
    background: white;
    color: black;
    font-weight: bold;
    width: 0.7em;
    height: 0.7em;
    display: inline-block;

    margin-left: calc(9pt + 0.025em - 0.5em);

    transition: background 400ms ease;
}

.page .head .buttons > *:hover {
    background: #ffe7cb;
}

.page .body {
    padding: 0.8em;
    text-align: left;
    font-size: 5pt;
}

.page .body:focus, .page .body:focus-within, .page .body:active {
    border: none;
    outline: none;
}

.menu .selected {
    border-bottom: 1px solid black;
}

#notif {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 5vw;

    background: #000a;
}